/*********************************************************
    Colors
*********************************************************/
$color__info: #56d8ef;
$color__warning: #efcf56;
$color__success: #4cb77a;
$color__error: #e25c48;

/*********************************************************
    Components
*********************************************************/
