/*********************************************************
    Colors
*********************************************************/
$color__primary: #19e2b5;

$color__info: #56d8ef;
$color__warning: #efcf56;
$color__success: #4cb77a;
$color__error: #e25c48;

$color__text--white: #fff;

/*********************************************************
    Components
*********************************************************/
